<div class="custom-card">
  <section class="opportunities-container">
    <header class="opportunities-header">
      <div class="title-container">
        <h2 class="main-title">Top Opportunities</h2>
        <p class="subtitle">stb/d</p>
      </div>
      <button class="table-view-btn" aria-label="Toggle table view">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/422f27147ac556858a186bd0c260b21fd6d7a51702848c96e8c1cc624b13e7fd?placeholderIfAbsent=true&apiKey=15e0471ce3204d5ebf47c334df72865e"
          alt=""
          class="table-icon"
        />
      </button>
    </header>
    <div class="opportunities-content">
      <article
        class="opportunity-card"
        [ngClass]="{ 'swipe-left': swipeLeft, 'swipe-right': swipeRight }"
      >
        <div class="gain-info">
          <h3 class="gain-label">Expected Gain</h3>
          <p class="gain-value">{{ currentCard.gain }}</p>
        </div>
        <div class="well-details">
          <h4 class="well-name">{{ currentCard.wellName }}</h4>
          <div class="secondary-details">
            <div class="expected-gain">
              <p class="detail-label">Expected Gain</p>
              <p class="detail-value positive">
                {{ currentCard.expectedGain }}
              </p>
            </div>
            <div class="before-value">
              <p class="detail-label">Before Optimization</p>
              <p class="detail-value">{{ currentCard.beforeValue }}</p>
            </div>
          </div>
        </div>
      </article>
    </div>
    <footer class="opportunities-footer">
      <div class="pagination-controls">
        <button
          class="nav-btn prev"
          aria-label="Previous opportunity"
          (click)="changeCard(-1)"
        >
          <img src="arrow_prev.svg" alt="create" class="" />
        </button>
        <button
          class="nav-btn next"
          aria-label="Next opportunity"
          (click)="changeCard(1)"
        >
          <img src="arrow_prev.svg" alt="create" class="" />
        </button>
        <span class="pagination-info"
          >{{ currentIndex + 1 }}/{{ cards.length }}</span
        >
      </div>
      <button class="optimization-btn ms-3">
        <span>Optimization</span>
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/5a14e3346d0e82af8ed840ce0ef33982d202952b2bc2f23dd7c42f9e164e96c0?placeholderIfAbsent=true&apiKey=15e0471ce3204d5ebf47c334df72865e"
          alt=""
          class="optimization-icon"
        />
      </button>
    </footer>
  </section>
</div>
