@import "../../../styles/variables";

app-header {
  z-index: 10;
}

main.flex-grow-1 {
  z-index: 1;
}

.backdrop {
  position: relative;
  background: linear-gradient(180deg, $dark-blue-base-color 0%, $black-blue-base-color 100%);
  z-index: 0;
}

.backdrop::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../../assets/images/noise.png") repeat;
  z-index: -1;
  background-size: auto;
  opacity: 0.1;
}

.darkened-backdrop {
  filter: brightness(0.3);
  transition: 1s;
}

.bg-aurora-left {
  position: fixed;
  top: 30%; /* Adjust position as desired */
  left: 30%; /* Adjust position as desired */
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  background-image: linear-gradient(
    80deg,
    $blue-light-primary-color,
    $blue-dark-primary-color
  );
  filter: blur(5rem);
  animation: move-aurora-left 16s linear infinite; /* Adjust animation duration and timing */
}

.bg-aurora-right {
  position: fixed;
  top: 40%; /* Adjust position as desired */
  left: 50%; /* Adjust position as desired */
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  background-image: linear-gradient(
    80deg,
    $blue-light-primary-color,
    $pink-light-primary-color
  );
  filter: blur(5rem);
  animation: move-aurora-right 16s linear infinite; /* Adjust animation duration and timing */
}

/* Keyframes for the aurora animation */
@keyframes move-aurora-left {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(12.5rem, -6.25rem) scale(1); /* Adjust movement distance */
    opacity: 0.5;
  }
  75% {
    transform: translate(12.5rem, 6.25rem) scale(1); /* Adjust movement distance */
    opacity: 0.5;
  }
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes move-aurora-right {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(-12.5rem, 6.25rem) scale(1); /* Adjust movement distance */
    opacity: 0.5;
  }
  75% {
    transform: translate(-12.5rem, -6.25rem) scale(1); /* Adjust movement distance */
    opacity: 0.5;
  }
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

.hover-zone {
  position: fixed;
  top: 4.375rem;
  left: 0;
  width:1.375rem;
  height: 100vh;
  z-index: 10; /* Ensure it's above the main content */
  cursor: pointer;
}

.collapsible-container-b-0 {
  box-shadow: unset !important;
}

.collapsible-container-b-0 .k-tabstrip-content {
  padding: 0.5rem 1rem 1rem 1rem !important;
  overflow-y: auto;
}

.collapsible-container-b-0 .k-tabstrip-items-wrapper {
  padding: 1rem 1rem 0 1rem !important;
}

.collapsible-container-b-0 .k-tabstrip-items li.k-item {
  background: rgba($neutral-gray-color, 0.10) !important;
  color: $white-base-color !important;
}

.collapsible-container-b-0 .k-tabstrip-items li.k-item.k-active {
  background: rgba($adnoc-logo-blue-text-color, 0.30) !important;
}

.collapsible-container-b-0 li.k-first {
  border-top-left-radius:1.5rem !important;
  border-bottom-left-radius:1.5rem !important;
}

.collapsible-container-b-0 li.k-last {
  border-top-right-radius:1.5rem !important;
  border-bottom-right-radius:1.5rem !important;
}

.collapsible-container-b-0 .k-expander-header {
  padding: 0 0 0.625rem 0 !important;
}

.collapsible-container-b-0 .k-expander-content {
  padding: 0 !important;
}

// Kendo Table global transparent background
.k-grid,
.k-grid .k-toolbar-solid,
.k-grid .k-grouping-header,
.k-grid .k-grouping-row,
.k-grid .k-grouping-row .k-table-td,
.k-grid .k-grouping-row td,
.k-grid .k-table-tbody .k-group-cell {
  background-color: transparent !important;
  --kendo-color-surface-alt: transparent !important;
  border: none !important;
}

.k-grid .k-textbox {
  background-color: transparent !important;
  --kendo-color-surface-alt: transparent !important;
}

.k-grid .k-grid-header .k-table-th,
.k-grid .k-grid-pager {
  background: rgba($neutral-gray-color, 0.10);
  border: none !important;
}

.k-grid-content::-webkit-scrollbar {
  width: 0.313rem;
  height: 0.313rem;
}

.k-grid-content::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background: rgba($natural-white-color, 0.3);
}


.k-grid .k-grid-header {
  padding: 0 !important;
}

.k-column-title {
  white-space: break-spaces;
}

.k-grid .k-grid-header .k-table-th {
  vertical-align: top;
}

.success-text {
  color: $green-primary-color;
  text-shadow: 0rem 0rem 0.5rem rgba($green-primary-color, 0.3);
}

.bold-danger-text {
  color: $red-primary-color;
  text-shadow: 0rem 0rem 0.5rem rgba($red-primary-color, 0.3);
}

.k-button-outline-base:hover {
  background-color: $primary-gray-color !important;
}

.red-text {
  color: $red-primary-color;
}

.green-text {
  color: $green-primary-color;
}

.red-text-shadow {
  text-shadow: 0rem 0rem 0.5rem rgba($red-primary-color, 0.3);
}

.green-text-shadow {
  text-shadow: 0 0 0.5rem rgba($green-primary-color, 0.3);
}

.cursor-pointer {
  cursor: pointer;
}

.dropdown-filter {
  min-width: 8.375rem !important;
  background-color: rgba($neutral-gray-color, 0.1) !important;
}

.k-grid .k-textbox.bg-dim-gray {
  background-color: rgba($neutral-gray-color, 0.10) !important;
  --kendo-color-surface-alt: rgba($neutral-gray-color, 0.10) !important;
}

