<div class="main-swap-sidepanel d-flex justify-content-center position-relative h-100">
    
    <!-- Smart Ticket Panel -->
    <div class="swap-sidepanel one w-100 h-100 position-absolute rounded-3 d-flex flex-column overflow-hidden dynamic-border"
        [ngClass]="{ 'front': activePanel === 'one', 'back': activePanel === 'two' }"
        (click)="bringToFront('one')">
        <static-smart-ticket-noti [smartTickets]="smartTickets"></static-smart-ticket-noti>
    </div>
    
    <!-- Alarms Panel -->
    <div class="swap-sidepanel two w-100 h-100 position-absolute rounded-3 d-flex flex-column overflow-hidden dynamic-border"
        [ngClass]="{ 'front': activePanel === 'two', 'back': activePanel === 'one' }"
        (click)="bringToFront('two')">
        <static-alarms-noti [alarms]="smartTickets"></static-alarms-noti>
    </div>    
</div>


