$nudge: 3rem;

.main-swap-sidepanel {
  margin-left: $nudge;

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
  }

  .swap-sidepanel {
    background: radial-gradient(206.04% 90.65% at 94.19% 100%, rgba(255, 205, 0, 0.10) 0%, rgba(178, 178, 178, 0.10) 100%);
    backdrop-filter: blur(17.5px);
    border: 2px solid rgba(229, 229, 229, 0.5);
    color: #CECECE;
    transition: margin-right 0.3s ease, margin-left 0.3s ease, z-index 0s;

    .one,
    &.front {
      z-index: 2;
      margin-right: $nudge * 2;
    }

    .two,
    &.back {
      z-index: 1;
      margin-right: 0;
    }
  }
}