@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$nudge: 3rem;

main {
  margin-left: $nudge;

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }

  > div {
    background: radial-gradient(206.04% 90.65% at 94.19% 100%, rgba(255, 205, 0, 0.10) 0%, rgba(178, 178, 178, 0.10) 100%);
    backdrop-filter: blur(17.5px);
    border: 2px solid rgba(229, 229, 229, 0.5);
    color: #CECECE;
    transition: margin-right 0.3s ease, margin-left 0.3s ease, z-index 0s;
    
    &.one {
      margin-right: $nudge * 2;
      z-index: 2;
    }

    &.two {
      margin-right: 0;
      z-index: 1;
    }

    &.front {
      z-index: 2;
      margin-right: $nudge * 2;
    }

    &:not(.front) {
      z-index: 1;
      margin-right: 0;
    }
  }
}
