<div class="main-swap-sidepanel d-flex justify-content-center position-relative h-100">
    
    <!-- Smart Ticket Panel -->
    <div class="swap-sidepanel one w-100 position-absolute rounded-3 h-100 d-flex flex-column overflow-auto overflow-x-hidden"
    [ngClass]="{ 'front': activePanel === 'one', 'back': activePanel === 'two' }" (click)="bringToFront('one')">
        <smart-ticket-noti [smartTickets]="smartTickets"></smart-ticket-noti>
    </div>
    
    <!-- Alarms Panel -->
    <div class="swap-sidepanel two w-100 position-absolute rounded-3 h-100 d-flex flex-column overflow-auto overflow-x-hidden"
        [ngClass]="{ 'front': activePanel === 'two', 'back': activePanel === 'one' }" (click)="bringToFront('two')">
        <alarms-noti [alarms]="smartTickets"></alarms-noti>
    </div>    
</div>


