<div class="blurred-panel">
    <div class="panel-header">
        <div class="header-title">
            Smart Ticket
        </div>
        <div class="header-icon">
            test
        </div>
    </div>
    <div class="panel-filtering">
        <label for="">Search Well Name...</label>
    </div>
    <div class="panel-container ongdng">
        <div class="loop-info">
            <div class="info-header">
                <div class="info-title">
                    MN190
                </div>
                <div class="info-icon">
                    test
                </div>
            </div>
            <div class="info-box">
                Recommendation:
                <br>
                Consider increasing ...
                <button>View More</button>
            </div>
        </div>

        <div class="loop-info">
            <div class="info-header">
                <div class="info-title">
                    MN190
                </div>
                <div class="info-icon">
                    test
                </div>
            </div>
            <div class="info-box">
                Recommendation:
                <br>
                Consider increasing ...
                <button>View More</button>
            </div>
        </div>
    </div>
</div>
