<div class="m-4 p-1">
    <div class="mx-2 d-flex justify-content-between">
        <div class="">
            <h5 class="fw-600 fs-16px m-0 text-primary">Top Underperforming Wells</h5>
            <span class="fs-12px text-primary fw-light">stb/d</span>
        </div>
        <i class="bi bi-table"></i>
    </div>
</div>

<!-- Table -->
<div class="m-4 p-1 overflow-x-auto">
    <table class="w-100">
        <tr class="fs-12px text-start">
            <th class="py-3 px-4 text-primary">Well</th>
            <th class="py-3 px-4 text-primary">Oil Rate</th>
            <th class="py-3 px-4 text-primary">Pot. Deferment</th>
        </tr>
        <tr *ngFor="let underperform of underperform" class="fs-14px text-start">
            <td class="py-3 px-4">{{ underperform.well }}</td>
            <td class="py-3 px-4">{{ underperform.deferment }}</td>
            <td class="py-3 px-4 danger-text">{{ underperform.percentageChange }}</td>
        </tr>
    </table>
</div>