@import "../../../../styles/variables";

kendo-dropdownlist {
  min-width: 134px !important;
  background-color: rgba($neutral-gray-color, 0.1) !important;
}

.k-dropdownlist-popup {
  background-color: rgba($neutral-gray-color, 0.1) !important;
  backdrop-filter: blur(17.5px) !important;
  border-radius: 16px !important;
  display: flex !important;

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
  }

  .k-list {
    background-color: rgba(0, 0, 0, 0) !important;
    padding: 8px !important;
  }

  .k-list-item {
    padding-inline: 10px !important;
    border-radius: 999px !important;
    white-space: nowrap !important;
  }

  .k-list-item:hover {
    border-radius: 999px !important;
  }

  .k-selected {
    border-radius: 999px !important;
  }
}
