<nav class="navbar navbar-expand-lg p-3">
  <div class="d-flex w-100 justify-content-between align-items-center">
    <div class="d-flex gap-3">
      <!-- Hamburger Menu -->
      <div
        class="d-flex align-items-center cursor-pointer"
        (click)="toggleSideMenu()"
      >
        <img
          src=".././../../assets/icons/hamburgerNavigation.svg"
          alt="Hamburger icon"
        />
      </div>

      <!-- ADNOC logo -->
      <div class="d-flex align-items-center">
        <img
          src="../../../assets/images/adnoc-logo.jpg"
          alt="ADNOC logo"
          class="adnoc-logo"
        />
      </div>

      <!-- Dropdown Pages -->
      <div
        class="d-flex px-3 py-1 rounded-pill dynamic-border navbar-items-container"
      >
        <span class="fs-14px text-primary"
          >Field Performance Summary</span
        >
      </div>

      <!-- Breadcrumbs -->
      <div
        class="d-flex gap-2 px-3 py-1 rounded-pill dynamic-border navbar-items-container"
      >
        <span class="fs-14px text-secondary">Onshore</span>
        <span class="fs-14px text-secondary">&#62;</span>
        <span class="fs-14px text-secondary">NEB</span>
        <span class="fs-14px text-secondary">&#62;</span>
        <span class="fs-14px text-primary">Dabbiya</span>
      </div>
    </div>

    <div class="d-flex gap-2">
      <!-- Date and Time -->
      <div
        class="d-flex gap-2 px-3 py-1 rounded-pill navbar-items-container dynamic-border"
      >
        <span class="fs-14px text-primary">&#60;</span>
        <span class="fs-14px text-primary">20-01-2024 00:00</span>
        <span class="fs-14px text-primary">&#62;</span>
      </div>

      <!-- Notifications -->
      <div
        class="d-flex px-1 align-items-center dynamic-border rounded-circle navbar-items-container cursor-pointer"
        (click)="toggleSmartAlarmPanel()"
      >
        <i
          class="bi bi-bell fs-16px d-flex justify-content-center align-items-center text-primary header-button"
        ></i>
      </div>

      <!-- Theme switching button (Just for testing) -->
      <div
        class="d-flex px-1 align-items-center dynamic-border rounded-circle navbar-items-container cursor-pointer"
        (click)="toggleTheme()"
      >
        <i
          *ngIf="currentTheme === 'light'"
          class="bi bi-moon fs-16px d-flex justify-content-center align-items-center text-primary header-button"
        ></i>
        <i
          *ngIf="currentTheme === 'dark'"
          class="bi bi-brightness-high fs-16px d-flex justify-content-center align-items-center text-primary header-button"
        ></i>
      </div>

      <!-- AI -->
      <div
        class="d-flex px-1 align-items-center dynamic-border rounded-circle navbar-items-container"
      >
        <img
          src="../../../assets/icons/ArtificialIntelligence.svg"
          alt="AI icon"
        />
      </div>
    </div>
  </div>
</nav>
