<nav class="navbar navbar-expand-lg p-4">
  <div class="d-flex w-100 justify-content-between align-items-center">
    <div class="d-flex gap-3">
      <!-- Hamburger Menu -->
      <button
        kendoButton
        fillMode="outline"
        rounded="full"
        size="large"
        (click)="toggleSideMenu()"
        class="p-2 border-0 header-button"
      >
        <img
          src=".././../../assets/icons/hamburgerNavigation.svg"
          alt="Hamburger icon"
        />
      </button>

      <!-- ADNOC logo -->
      <div class="d-flex align-items-center">
        <img
          src="../../../assets/images/adnoc-logo.jpg"
          alt="ADNOC logo"
          class="adnoc-logo"
        />
      </div>

      <!-- Page Name -->
      <div class="d-flex align-items-center">
        <span class="fs-20px text-primary">Field Performance Summary</span>
      </div>

      <!-- Breadcrumbs -->
      <div
        class="d-flex gap-2 px-3 rounded-pill dynamic-border navbar-items-container align-items-center"
      >
        <span class="fs-14px text-secondary">Onshore</span>
        <span class="fs-14px text-secondary">&#62;</span>
        <span class="fs-14px text-secondary">NEB</span>
        <span class="fs-14px text-secondary">&#62;</span>
        <span class="fs-14px text-primary">Dabbiya</span>
      </div>
    </div>

    <div class="d-flex gap-2">
      <!-- Date and Time -->
      <static-datetime-picker></static-datetime-picker>

      <!-- Notifications -->
      <button
        kendoButton
        fillMode="outline"
        rounded="full"
        [size]="'small'"
        (click)="toggleSmartAlarmPanel()"
        class="px-2 dynamic-border header-button"
        iconClass="bi bi-bell text-primary"
      ></button>

      <!-- Theme switching button (Just for testing) -->
      <button
        kendoButton
        fillMode="outline"
        rounded="full"
        size="large"
        (click)="toggleTheme()"
        class="px-2 dynamic-border header-button"
        [iconClass]="
          currentTheme === 'light'
            ? 'bi bi-moon text-primary'
            : 'bi bi-brightness-high text-primary'
        "
      ></button>

      <!-- AI -->
      <button
        kendoButton
        fillMode="outline"
        rounded="full"
        size="large"
        class="px-2 dynamic-border header-button"
      >
        <img
          src="../../../assets/icons/ArtificialIntelligence.svg"
          alt="AI icon"
          class="AI-button"
        />
      </button>
    </div>
  </div>
</nav>
