@import "../../../styles/variables";

.navbar {
  height: 5.375rem;
  background: linear-gradient(180deg, rgba($deep-blue-base-color, 0.10) 79.97%, rgba($deep-blue-base-color, 0.00) 92.81%);
  backdrop-filter: blur(1.563rem);
  z-index: 10;
}

.adnoc-logo {
  height: auto;
  width: 5.625rem;
}

.AI-button {
  height:1.25rem;
  width:1.5rem;
}

.navbar-items-container {
  background-color: rgba(84, 86, 90, 0.1);
}

.header-button {
  height: 2.375rem;
  width: 2.375rem;
}
