.navbar {
  height: 78px;
  background-color: rgba(39, 39, 39, 0.1);
  backdrop-filter: blur(25px);
  z-index: 10;
}

.adnoc-logo {
  height: 29px;
  width: auto;
}

.header-button {
  height: 20px;
  width: 20px;
}

.navbar-items-container {
  background-color: rgba(84, 86, 90, 0.1);
}
