<arcgis-map
  item-id="5dc44e49f46e45f78c2186ed0579825f"
  (arcgisViewReadyChange)="arcgisViewReadyChange($event)"
>
  <!-- <arcgis-bookmarks position="bottom-right"> </arcgis-bookmarks> -->
  <!-- <arcgis-basemap-toggle position="top-right"> </arcgis-basemap-toggle> -->
  <arcgis-expand position="bottom-right">
    <arcgis-bookmarks />
  </arcgis-expand>
  <arcgis-zoom position="top-right"> </arcgis-zoom>
  <arcgis-expand position="top-left" mode="floating">
    <arcgis-basemap-gallery />
  </arcgis-expand>
</arcgis-map>
