@import "../../../../styles/variables";

kendo-datetimepicker {
  background-color: rgba($neutral-gray-color, 0.1) !important;

  .k-clear-value {
    color: $white-base-color !important;
  }

  .k-input-button {
    padding-right: 16px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 6px !important;
    width: 50px !important;
    background-color: rgba($neutral-gray-color, 0.2) !important;
    color: $white-base-color !important;
  }
}

kendo-timeselector {
  background-color: rgba(0, 0, 0, 0) !important;

  .k-timeselector-title {
    color: $blue-light-secondary-color!important;
  }

  .k-time-now {
    color: $white-base-color !important;
  }
}

.k-datetimepicker-popup {
  border-radius: 15px !important;
  background-color: rgba($neutral-gray-color, 0.1) !important;
  backdrop-filter: blur(17.5px) !important;
}

.k-datetime-calendar-wrap kendo-calendar,
kendo-virtualization {
  background-color: rgba(0, 0, 0, 0) !important;
}

.k-button-solid-base {
  color: $white-base-color !important;
  background-color: rgba($neutral-gray-color, 0.1);
}

.k-time-highlight {
  background-color: $adnoc-logo-blue-text-color !important;
  border-color: $adnoc-logo-blue-text-color !important;
}
