kendo-card.border-bottom {
  border-color: rgba(229, 229, 229, 0.2) !important;
}

h5 .sev-level-dot {
  width: 8px;
  height: 8px;
}

.hyperlink-btn {
  color: #287EFF;
}

.hyperlink-btn:hover {
  cursor: pointer;
}

.ghost-btn:hover {
  cursor: pointer;
}

.border-top-bottom {
  border: 1px solid rgba(229, 229, 229, 0.2) !important;
}

.badge.bg-danger,
.sev-level-dot.bg-danger {
  background: #F82F2F !important;
}