<kendo-grid 
  [kendoGridBinding]="filteredGridData"
  [columnMenu]="menuSettings"
  [filterable]="true"
  [sortable]="true"
  [groupable]="true"
  [pageable]="{
    buttonCount: buttonCount,
    info: info,
    type: type,
    pageSizes: pageSizes,
    previousNext: previousNext,
    position: position
  }"
  [pageSize]="pageSize"
  [rowHeight]="40"
  [height]="600"
  scrollable="scrollable"
  [rowClass]="stripedRows"
>
  <ng-template kendoGridToolbarTemplate>
    <div class="w-100 d-flex justify-content-between align-items-center">
      <h5 class="fs-1rem fw-600 m-0">Exceptions by Well</h5>
      <div>
        <button
          kendoButton
          fillMode="solid"
          title="Download Excel"
          themeColor="dark"
          size="large"
          class="fs-1rem py-2 px-3 rounded-3 bg-transparent"
        >
          Reset
        </button>
        <button
          kendoGridExcelCommand
          fillMode="clear"
          title="Download Excel"
          themeColor="light"
          class="rounded"
        >
          <img src="assets/icons/download.svg" alt="download-icon" class="w-1_25rem"/>
        </button>
        <button
          kendoButton
          fillMode="clear"
          title="Swap Table"
          themeColor="light"
          class="rounded"
        >
          <img src="assets/icons/table_view.svg" alt="swap-table-icon" class="w-1_25rem"/>
        </button>
      </div>
    </div>
    <div class="w-100 bg-transparent-blue text-primary p-3 mt-3 rounded-4">
      <img src="assets/icons/hexagon-info.svg" alt="warning-info-icon" class="me-3 w-1_25rem" />
      Hover over the parameter and click to add it to the table.
    </div>
  </ng-template>

  <kendo-grid-column field="wellName" title="Well Name"> </kendo-grid-column>
  <kendo-grid-column field="dateTime" title="Date & Time"> </kendo-grid-column>
  <kendo-grid-column field="category" title="Category"></kendo-grid-column>
  <kendo-grid-column field="eventName" title="Well Behaviour/Event"> </kendo-grid-column>
  <kendo-grid-column field="indicator" title="Indicator"> </kendo-grid-column>
  <kendo-grid-column field="criteria" title="Criteria"> </kendo-grid-column>
  <kendo-grid-column field="status" title="Resolution Status"> </kendo-grid-column>
  
  <kendo-grid-excel fileName="FPS_ExceptionsByWell.xlsx"></kendo-grid-excel>
</kendo-grid>