// Paddings Top
.pt-0_75rem {
  padding-top: 0.75rem;
}

.pt-0_875rem {
  padding-top:0.875rem;
}

// Paddings Horizontal
.px-0_75rem {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-1_25rem {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

// Paddings Bottom
.pb-0_938rem {
  padding-bottom: 0.938rem;
}

// Padding end 
.pe-2_25rem {
  padding-right: 2.25rem;
}