// Import global variables
@import "../variables";

$primary-color: #FFCD00;
$secondary-color: #6c757d;

// Button's styles
.btn-primary {
    background-color: $primary-color;
    color: $button-text-color;
    border-width: 0;
    &:hover {
      background-color: darken($primary-color, 5%);
      color: $button-text-color;
      border-width: 0;
    }
  }