$primary-color: #ffcd00;
$secondary-color: #6c757d;
$blue-light-primary-color: #00a19c;
$pink-light-primary-color: #763f98;
$blue-dark-primary-color: #20419a;
$button-text-color: #040c19;

:root {
  --bs-border-radius-lg: 18px;
}
