$primary-color: #ffcd00;
$secondary-color: #6c757d;
$blue-light-primary-color: #00a19c;
$blue-light-secondary-color: #22B0F6;
$pink-light-primary-color: #763f98;
$blue-dark-primary-color: #20419a;
$adnoc-logo-blue-text-color: #0047ba;
$natural-white-color: #ffffff;
$white-base-color: #cecece;
$black-base-color: #000000;
$button-text-color: #040c19;
$neutral-gray-color: #A9AAAC;
$red-primary-color: #F82F2F;
$green-primary-color: #00da69;
$primary-gray-color: #4d4d4d;
$neutral-base-color: #D6D6D6;
$transparent-bg-color: transparent;
$gray-base-color: #a9aaac1a;
$blue-base-color: #003B9B;
$black-blue-base-color: #000E25;
$deep-blue-base-color: #04052D;
$dark-blue-base-color: #00183E;
$red-base-color: #CF2727;
$dark-red-base-color: #320909;
$black-tooltip-base-color: #030A15;


$font-family-primary: 'Titillium Web';

:root {
  --bs-border-radius-lg: 18px;
  --kendo-color-primary-active: #{$adnoc-logo-blue-text-color};
  --kendo-color-on-primary: #{$white-base-color};
  --kendo-color-primary: #{$adnoc-logo-blue-text-color};
  --kendo-color-primary-on-surface: #{$blue-light-secondary-color};
  --kendo-color-surface: #{$transparent-bg-color};
  --kendo-color-surface-alt: #{$transparent-bg-color};
  --kendo-color-border: #{$transparent-bg-color};
  --kendo-color-base: #{$gray-base-color};
  --kendo-color-on-base: #{$white-base-color};
  --kendo-font-family: #{$font-family-primary};
  --kendo-color-light-on-surface: #{$white-base-color};
}