$primary-color: #ffcd00;
$secondary-color: #6c757d;
$blue-light-primary-color: #00a19c;
$pink-light-primary-color: #763f98;
$blue-dark-primary-color: #20419a;
$adnoc-logo-blue-text-color: #0047ba;
$white-base-color: #cecece;
$black-base-color: #000000;
$button-text-color: #040c19;
$neutral-gray-color: #717276;
$red-primary-color: #cd4b4b;
$green-primary-color: #00DA69;
$primary-gray-color: #4d4d4d;

:root {
  --bs-border-radius-lg: 18px;
}

.negative-value-text {
  color: $red-primary-color;
}

.positive-value-text {
  color: $green-primary-color;
}

.cursor-pointer {
  cursor: pointer;
}
