// Import the base Bootstrap customizations
@import "bootstrap-custom";

// Import the desired theme
@import "themes/theme-default";

// Import all utilities
@import "utilities/index";

//Import global Google Font
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

html, body {
  height: 100%;
  margin: 0;
}

html * {
  font-family: "Titillium Web";
}