@import "../../../styles/variables";

.side-menu {
  top: 10px;
  left: -300px;
  width: 300px;
  height: 100vh;
  background: radial-gradient(
    206.04% 90.65% at 94.19% 100%,
    rgba(255, 205, 0, 0.1) 0%,
    rgba(178, 178, 178, 0.1) 100%
  );
  backdrop-filter: blur(17.5px);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 100;
  position: fixed;
  transition: 1s;
}

.page-icon {
  width: 20px;
  height: auto;
}

.footer {
  background-color: $white-base-color;
  height: 170px;

  .footer-text {
    color: $adnoc-logo-blue-text-color;
  }

  .adnoc-logo {
    height: 35px;
    width: 90px;
  }
}
