<kendo-expansionpanel
  class="rounded rounded-4 w-100"
  (expand)="onExpand()"
  (collapse)="onCollapse()"
  [expanded]="true"
>
  <ng-template kendoExpansionPanelTitleDirective>
    <ng-container *ngIf="isExpanded; else collapsedHeader">
      <div class="header-expanded">
        <h5 class="fs-20px fw-semibold mb-1">Production Summary</h5>
        
        
      </div>
    </ng-container>
    <ng-template #collapsedHeader>
      <div class="header-collapsed d-flex w-100">
        <div class="me-5">
          <h5 class="fs-20px fw-semibold mb-1">Production Summary</h5>
          <span class="fs-16px fw-normal">as at 21-11-2024</span>
        </div>
        <div class="d-flex column-gap-3">
          <div>
            <h6 class="fw-semibold">Oil Production</h6>
            <span class="stats success-text">+1.24%</span>
          </div>
          <div>
            <h6 class="fw-semibold">Gas Production</h6>
            <span class="stats bold-danger-text">-0.89%</span>
          </div>
          <div>
            <h6 class="fw-semibold">Water Production</h6>
            <span class="stats success-text">+3.96%</span>
          </div>
          <div>
            <h6 class="fw-semibold">Gas Injection</h6>
            <span class="stats bold-danger-text">-0.28%</span>
          </div>
          <div>
            <h6 class="fw-semibold">Water Injection</h6>
            <span class="stats success-text">+2.30%</span>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-template>
</kendo-expansionpanel>

<static-exceptions-well></static-exceptions-well>