<kendo-expansionpanel [expanded]="true">
  <ng-template kendoExpansionPanelTitleDirective>
      <div class="header-content">
          <div class="k-expander-title">TEST</div>
          <span>Colombia</span>
      </div>
  </ng-template>
  The name “Colombia” is derived from the last name of the Italian navigator
  Christopher Columbus. It was conceived by the Venezuelan revolutionary
  Francisco de Miranda as a reference to all of the New World, but
  especially to those portions under Spanish law. The name was later adopted
  by the Republic of Colombia of 1819, formed from the territories of the
  old Viceroyalty of New Granada (modern-day Colombia, Panama, Venezuela,
  Ecuador, and northwest Brazil).
</kendo-expansionpanel>

<!-- <static-noise-background-card class="w-100">
  <mat-accordion class="w-100"> 
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)"
      class="rounded rounded-4 bg-transparent text-primary">
      <mat-expansion-panel-header>
        <mat-panel-title class="text-primary"> Production Summary</mat-panel-title>
        <mat-panel-description class="text-primary">
          <div class="summary-details">
            <div *ngIf="!panelOpenState()">
              TEST SHOW ADDITIONAL HEADER CONTENT
            </div>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>
</static-noise-background-card> -->