@import "../../../../styles/variables";

:host {
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba($natural-white-color, 0.3);
}

kendo-card.border-bottom {
  border-color: rgba($white-base-color, 0.2) !important;
}

h5 .sev-level-dot {
  width: 8px;
  height: 8px;
}

.hyperlink-btn {
  color: $blue-light-secondary-color;
}

.hyperlink-btn:hover {
  cursor: pointer;
}

.ghost-btn:hover {
  cursor: pointer;
}

.badge.bg-danger {
  background: $red-primary-color !important;
}

.sev-level-dot {
  background: $blue-light-secondary-color !important;
}

.header-section {
  z-index: 1;
}

.search-input-box {
  background: rgba($neutral-gray-color, 0.10);
  border: 2px solid rgba($neutral-gray-color, 0.20);
}

.divider-bottom {
  border-bottom: 1px solid rgba($white-base-color, 0.20) !important;
}

.dots-icon-btn {
  padding: 0.1rem !important;
}

.k-card-actions button {
  max-width: 80px;
}