.bg-dashboard-card {
  background-color: rgba(77, 77, 77, 0.1);
  border: 1px solid rgba(229, 229, 229, 0.50);
}

.height-232px {
  height: 232px;
}

.height-218px {
  height: 218px;
}

.smart-alarm-panel {
  height: 71%;
  position: sticky;
  top: 78px;
}