.side-menu {
    top: 10px;
    left: 20px;
    width: 300px;
    height: 1040px;
    background: radial-gradient(206.04% 90.65% at 94.19% 100%, rgba(255, 205, 0, 0.10) 0%, rgba(178, 178, 178, 0.10) 100%);
    backdrop-filter: blur(17.5px);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 100;
}