::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
}

tr:nth-child(even) {
  background-color: #CECECE0D;
}

.overview-card {
  background: linear-gradient(180deg, #003B9B 0%, #00183E 100%);
}

.listing-card {
  background: rgba(77, 77, 77, 0.10);
}

.success-text {
  color: #00DA69;
  text-shadow: 0px 0px 8px rgba(0, 218, 105, 0.3);
}

.border-end.border-vertical {
  border-color: rgba(206, 206, 206, 0.20) !important;
}

.hyperlink-btn {
  color: #287EFF;
}

.hyperlink-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}