@import "../../../styles/variables";

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba($natural-white-color, 0.3);
}

tr:nth-child(even) {
  background-color: rgba($white-base-color, 0.05);
}

.overview-card {
  background: linear-gradient(180deg, $blue-base-color 0%, $dark-blue-base-color 100%);
}

.listing-card {
  background: rgba($primary-gray-color, 0.10);
}

.success-text {
  color: #00DA69;
  text-shadow: 0px 0px 8px rgba($green-primary-color, 0.3);
}

.border-end.border-vertical {
  border-color: rgba($white-base-color, 0.20) !important;
}

.hyperlink-btn {
  color: #287EFF;
}

.hyperlink-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}