@import "../../../styles/variables";

.bg-noise-card {
  position: relative;
  overflow: hidden;

  .background-layer {
    position: absolute;
    inset: 0;
    z-index: -1;
  }
}

.gradient-border {
  &:before {
    content: "";
    position: absolute;
    inset: -0.0625rem;
    border-radius: inherit;
    padding: 0.188rem;
    background: linear-gradient(
      to bottom right,
      var(--c1) 0%,
      var(--c2) 30%,
      var(--c2) 70%,
      var(--c3) 100%
    );
    -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
    mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
    mask-composite: exclude;
    transition: --c1 300ms ease, --c2 300ms ease, --c3 300ms ease;
  }
}

.gradient-border:hover:before {
  --c1: rgba(255, 255, 255, 0.5);
  --c2: rgba(0, 0, 0, 0);
  --c3: rgba(255, 255, 255, 0.5);
}

@property --c1 {
  syntax: "<color>";
  inherits: false;
  initial-value: rgba(255, 255, 255, 0.3);
}
@property --c2 {
  syntax: "<color>";
  inherits: false;
  initial-value: rgba(0, 0, 0, 0);
}
@property --c3 {
  syntax: "<color>";
  inherits: false;
  initial-value: rgba(0, 0, 0, 0);
}

static-noise-background-card:not(.collapsible-panel):not(.transparent-overlay) .bg-noise-card {
  background: linear-gradient(180deg, rgba($adnoc-logo-blue-text-color, 0.40) 0%, rgba($adnoc-logo-blue-text-color, 0.05) 60%);
  backdrop-filter: blur(1.094rem);
  opacity: 1.2;
  z-index: 2;
  border: 0.125rem solid rgba($white-base-color, 0.1);
}
  
static-noise-background-card.collapsible-panel .bg-noise-card,
static-noise-background-card.transparent-overlay .bg-noise-card {
  border-radius: 1rem;
  backdrop-filter: blur(1.094rem);
  z-index: 1;
  border: 0.125rem solid rgba($white-base-color, 0.1);
}