@import "../../../styles/variables";

.bg-dashboard-card {
  background-color: rgba($primary-gray-color, 0.1);
}

.height-232px {
  height: 232px;
}

.height-218px {
  height: 218px;
}

.height-464px {
  height: 464px;
}

.smart-alarm-panel {
  max-height: 855px;
  position: sticky;
  top: 78px;
}