@import "../../../styles/variables";

.height-232px {
  height: 232px;
}

.height-218px {
  height: 218px;
}

.height-260px {
  height: 260px;
}

.height-464px {
  height: 464px;
}

.height-314px {
  height: 314px;
}

.height-536px {
  height: 536px;
}

.height-720px {
  height: 720px;
}

.smart-alarm-panel {
  max-height: 88vh;
  position: sticky;
  top: 95px;
}

kendo-expansionpanel {
  background-color: transparent !important;

  .k-expander-header {
    background-color: transparent !important;
  }

  .k-expander-title {
    text-transform: capitalize;
    color: #b7b8ba;
  }
}