<div class="d-flex w-100 gap-3">
  <!-- Main Dashboard Content -->
  <div
    class="d-flex flex-column gap-3"
    [ngClass]="{
      'col-10': isShowSmartAlarmPanel,
      'col-12': !isShowSmartAlarmPanel
    }"
  >
    <!-- Collapsible Tab - Production and Injection Summary -->
    <div class="d-flex w-100 rounded rounded-4 bg-noise-card gradient-border">
      <!-- Background Layer -->
      <div class="background-layer"></div>
      <kendo-expansionpanel
        title="Production Summary"
        class="rounded rounded-4 w-100 border-1"
        [expanded]="true"
      >
        <!-- First Row Cards -->
        <div class="d-flex w-100 gap-3 mb-3">
          <div
            class="rounded rounded-4 bg-noise-card height-232px"
            [ngClass]="{
              'flex-grow-1': expandOilProductionSummaryContainer,
              'col-3': !expandOilProductionSummaryContainer
            }"
          >
            <!-- Background Layer -->
            <div class="background-layer"></div>
            <!-- Card Content Here -->
            <static-oil-production-summary
              (toggleExpandContainer)="toggleExpandOilSummaryContainer()"
              [hideAreaChart]="!expandOilProductionSummaryContainer"
            >
            </static-oil-production-summary>
          </div>
          <div
            class="rounded rounded-4 bg-noise-card height-232px"
            [ngClass]="{
              'flex-grow-1': expandGasProductionSummaryContainer,
              'col-3': !expandGasProductionSummaryContainer
            }"
          >
            <!-- Background Layer -->
            <div class="background-layer"></div>
            <!-- Card Content Here -->
            <static-gas-production-summary
              (toggleExpandContainer)="toggleExpandGasSummaryContainer()"
              [hideAreaChart]="!expandGasProductionSummaryContainer"
            >
            </static-gas-production-summary>
          </div>
          <div class="col-3 rounded rounded-4 bg-noise-card p-3 height-232px">
            <!-- Background Layer -->
            <div class="background-layer"></div>
            <!-- Card Content Here -->
          </div>
        </div>

        <!-- Second Row Cards -->
        <div class="d-flex w-100 gap-3">
          <div class="col-6 rounded rounded-4 bg-noise-card height-232px">
            <!-- Background Layer -->
            <div class="background-layer"></div>
            <!-- Card Content Here -->
            <static-gas-injection></static-gas-injection>
          </div>
          <div class="flex-grow-1 rounded rounded-4 bg-noise-card height-232px">
            <!-- Background Layer -->
            <div class="background-layer"></div>
            <!-- Card Content Here -->
          </div>
        </div>
      </kendo-expansionpanel>
    </div>

    <!-- Third Row Cards -->
    <div class="d-flex w-100 gap-3">
      <!-- Left Column -->
      <div class="col-3 d-flex flex-column gap-3">
        <!-- First Row Left -->
        <div
          class="p-4 rounded rounded-4 bg-noise-card gradient-border height-260px"
        >
          <!-- Background Layer -->
          <div class="background-layer"></div>
          <static-producer-well></static-producer-well>
        </div>
        <!-- Second Row Left -->
        <div
          class="p-4 rounded rounded-4 bg-noise-card gradient-border height-260px"
        >
          <!-- Background Layer -->
          <div class="background-layer"></div>
          <!-- Second Row Left Content -->
        </div>
      </div>

      <!-- Right Column -->
      <div
        class="flex-grow-1 p-3 rounded rounded-4 bg-noise-card gradient-border height-536px"
      >
        <!-- Background Layer -->
        <div class="background-layer"></div>
        <!-- Shared Container Content -->
      </div>
    </div>

    <!-- Fourth Row Cards -->
    <div class="d-flex w-100 gap-3">
      <div
        class="col-6 rounded rounded-4 bg-noise-card gradient-border height-314px"
      >
        <!-- Background Layer -->
        <div class="background-layer"></div>
        <!-- Card Content Here -->
        <static-top-opportunities></static-top-opportunities>
      </div>
      <div
        class="flex-grow-1 rounded rounded-4 bg-noise-card gradient-border height-314px"
      >
        <!-- Background Layer -->
        <div class="background-layer"></div>
        <!-- Card Content Here -->
        <static-top-underperform></static-top-underperform>
      </div>
    </div>
  </div>

  <!-- Smart Ticket & Alarm Panels -->
  <div
    class="w-100"
    [ngClass]="{
      'd-flex': isShowSmartAlarmPanel,
      'd-none': !isShowSmartAlarmPanel
    }"
  >
    <div class="w-100 rounded-4 smart-alarm-panel">
      <static-swapped-sidepanel></static-swapped-sidepanel>
    </div>
  </div>
</div>
