::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
}

tr:nth-child(even) {
  background-color: #CECECE0D;
}

.overview-card {
  background: linear-gradient(149deg, #CF2727 4.78%, #320909 97.21%);
}

.listing-card {
  background: rgba(77, 77, 77, 0.10);
}

.danger-text {
  color: #E6A5A5;
  text-shadow: 0px 0px 8px rgba(255, 0, 0, 0.65);
}

.border-end.border-vertical {
  border-color: #CECECE0D !important;
}

.hyperlink-btn {
  color: #287EFF;
}

.hyperlink-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.bold-danger-text {
  color: #F82F2F;
  text-shadow: 0px 0px 8px #F82F2F;
}
