<div class="d-flex w-100 h-100">
    
    <!-- Overview Card -->
    <div class="overview-card col-6 d-flex flex-column h-auto gap-2 rounded-start-4">  
        <!-- Content -->
        <kendo-card class=" h-100 w-100 bg-transparent">
            <kendo-card-header class="p-4 pb-0 border-0">
                <div>
                    <h5 class="fw-600 fs-1rem m-0 text-primary">Top Underperforming Wells</h5>
                </div>
            </kendo-card-header>
            <kendo-card-body class="px-4 py-3 d-grid align-items-start flex-column">
                <div>
                    <h4 class="fs-1_25rem text-primary mb-0">{{ underperforms[0].well }}</h4>
                    <span class="fs-0_75rem text-secondary fw-light">Potential Oil Deferment (stb/d)</span>
                    <h3 class="fs-4rem text-primary mb-0">{{ underperforms[0].potOilDeferment }}</h3>
                </div>
                <div>
                    <div class="d-flex gap-2">
                        <div class="pe-4">
                            <span class="fs-0_75rem text-secondary fw-light">Potential Deferment</span>
                            <h6 class="text-primary fw-600">
                                {{ underperforms[0].potDefermentVal }} <span class="danger-text">({{ underperforms[0].potDefermentPercentage }})</span>
                            </h6>
                        </div>
                        <div class="ps-2 me-2 border-end border-vertical"></div>
                        <div class="ps-4">
                            <span class="fs-0_75rem text-secondary fw-light">Actual</span>
                            <h6 class="fw-600 text-primary">{{ underperforms[0].actual }} stb/d</h6>
                        </div>
                    </div>
                </div>
                <!-- Date of data -->
                <div class="d-flex justify-content-start mt-auto">
                    <span class="fs-0_75rem text-secondary fw-light">Data as at 19-01-2024 00:00</span>
                </div>
            </kendo-card-body>
        </kendo-card>
           
    </div>
    
    <!-- Listing Panel -->
    <div class="listing-card col-6 d-grid flex-column h-auto overflow-auto">
        <kendo-grid 
        [data]="gridData"
        [height]="300"
        scrollable="scrollable"
        [rowClass]="stripedRows"
    >
        <kendo-grid-column 
                headerClass="fw-semibold p-2 ps-4" 
                class="p-2 ps-4" 
                field="well" 
                title="Well">
            </kendo-grid-column>
            <kendo-grid-column 
                headerClass="fw-semibold"
                field="potOilDeferment" 
                title="Pot. Oil Deferment (stb/d)">
            </kendo-grid-column>
            <kendo-grid-column 
                headerClass="fw-semibold" 
                field="actual" 
                title="Actual (stb/d)">
            </kendo-grid-column>
            <kendo-grid-column 
                headerClass="fw-semibold" 
                title="Potential Deferment">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{ dataItem.potDefermentVal }} <span class="bold-danger-text">({{ dataItem.potDefermentPercentage }})</span>
                </ng-template>
            </kendo-grid-column>
    </kendo-grid>
    </div>    
</div>


