<div class="h-100 w-100">
    <kendo-tabstrip id="ticketAlarmTab" tabAlignment="center" [ngStyle]="{ width: '100%', height: '100%' }">
        <kendo-tabstrip-tab [selected]="true">
            <ng-template kendoTabTitle>
                <img src="assets/icons/ticketing-oppurtunity.svg" alt="Tickets" class="w-1_25rem" />
                Tickets
            </ng-template>
            <ng-template kendoTabContent>
                <static-smart-ticket-noti [smartTickets]="smartTickets"></static-smart-ticket-noti>
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab>
            <ng-template kendoTabTitle>
                <img src="assets/icons/notifications.svg" alt="Alarms" class="w-1_25rem" />
                Alarms
            </ng-template>
            <ng-template kendoTabContent>
                <static-alarms-noti [alarms]="smartTickets"></static-alarms-noti>
            </ng-template>
        </kendo-tabstrip-tab>
    </kendo-tabstrip>    
</div>
