@import "../../../styles/variables";

.red-text-shadow {
  text-shadow: 0px 0px 8px rgba($red-primary-color, 0.65);
}

.downward-arrow-container {
  border: 3px solid var(--Colors-Translucent-Border-Secondary-Red-10, rgba(205, 75, 75, 0.1));
  box-shadow: 0px 0px 20px 0px rgba($red-primary-color, 0.9);
}
