<div class="d-flex flex-column h-100">
    <!-- Fixed header -->
    <div class="header-section flex-shrink-0">
        <div class="mb-2 divider-bottom">
            <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <h5 class="fw-600 fs-1_25rem m-0 text-primary">Alarms</h5>
                </div>
                <button
                    kendoButton
                    (click)="onAlarmsMenuClick()"
                    [svgIcon]="menuDots"
                    fillMode="clear"
                    title="Browse"
                    themeColor="light"
                ></button>
            </div>
        </div>
        <kendo-textbox class="search-input-box fs-0_875rem border-0 text-primary rounded-pill px-3 py-1 mb-2 gradient-border" placeholder="Search Well...">
            <ng-template kendoTextBoxPrefixTemplate>
              <img src="assets/icons/search.svg" alt="search-icon" class="w-1rem" />
            </ng-template>
          </kendo-textbox>   
    </div>

    <!-- Scrollable Content -->
    <div class="content-section flex-grow-1 overflow-x-hidden overflow-y-auto">
        <!-- Dynamically generated cards -->
        <div class="py-2 divider-bottom" *ngFor="let ticket of alarms">
            <kendo-card class="w-100 bg-transparent border-0 rounded-0">
                <kendo-card-header class="border-0 p-0 mb-2 d-grid">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <h5 class="m-0 fw-bold fs-1rem text-primary">
                                {{ ticket.title }}
                                <span *ngIf="ticket.sev_level === 'High'" class="sev-level-dot d-inline-block rounded-circle align-top"></span>
                            </h5>
                            <span 
                                *ngIf="ticket.sev_level"
                                class="ms-2 badge fw-normal rounded-4 px-2"
                                [ngClass]="{
                                    'bg-danger': ticket.sev_level === 'High', 
                                    'bg-warning text-dark': ticket.sev_level === 'Medium'
                                }">
                                {{ ticket.sev_level }}
                            </span>
                        </div>
                        <button
                            kendoButton
                            (click)="onItemClick(ticket)"
                            [svgIcon]="menuDots"
                            fillMode="clear"
                            title="Browse"
                            themeColor="light"
                            class="dots-icon-btn"
                        ></button>
                    </div>
                    <span class="fs-0_625rem text-secondary">
                        {{ ticket.timestamp }}
                    </span>
                </kendo-card-header>
                <kendo-card-body class="p-0">
                    <div>
                        <h6 class="text-primary fs-0_75rem">
                            {{ ticket.recommendation }}
                        </h6>
                    </div>
                </kendo-card-body>
            </kendo-card>
        </div>

        <div class="hyperlink-btn mt-auto p-3 text-center fs-0_875rem">
            View More
        </div>
    </div>
</div>