@import "../../../../styles/variables";

:host {
  height: 100%;
}

::-webkit-scrollbar {
  width: 0.313rem;
  height: 0.313rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background: rgba($natural-white-color, 0.3);
}

h5 .sev-level-dot {
  width: 0.5rem;
  height: 0.5rem;
}

.hyperlink-btn {
  color: $blue-light-secondary-color;
}

.hyperlink-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.ghost-btn:hover {
  cursor: pointer;
}

.badge.bg-danger {
  background: $red-primary-color !important;
}

.sev-level-dot {
  background: $blue-light-secondary-color !important;
}

.header-section {
  z-index: 1;
}

.divider-bottom {
  border-bottom: 0.0625rem solid rgba($white-base-color, 0.20) !important;
}

.dots-icon-btn {
  padding: 0.1rem !important;
}