// Step 1: Import Bootstrap's functions, variables, and mixins
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// Customize Bootstrap variables
$primary: #FFCD00; // Example of changing the primary color
$secondary: #6c757d;
$font-family-base: "Arial, sans-serif";

// Import Bootstrap's main styles
@import "bootstrap/scss/bootstrap";

// Button's styles
.btn-primary {
  background-color: $primary;
  color: #040C19;
  border-width: 0;
  &:hover {
    background-color: darken($primary, 5%);
    color: #040C19;
    border-width: 0;
  }
}

// Dashboard's styles
.bg-dashboard {
  background-color: #001c49;
}

.bg-dashboard-card {
  background-color: rgba(77, 77, 77, 0.1);
}

// Paddings
// Paddings Horizontal
.px-24px {
    padding-left: 24px;
    padding-right: 24px;
}

// Paddings Bottom
.pb-15px {
    padding-bottom: 15px;
}

// Margins

// Font size
.fs-16px {
    font-size: 16px;
}
